<link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" sizes="any">
<link rel="icon" href="{{ url_for('static', filename='icons/favicon-light.svg') }}" type="image/svg+xml" media="(prefers-color-scheme: light)">
<link rel="icon" href="{{ url_for('static', filename='icons/favicon-dark.svg') }}" type="image/svg+xml" media="(prefers-color-scheme: dark)">
<link rel="icon" href="{{ url_for('static', filename='icons/favicon.svg') }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}">
